@use '/styles/colors';

.scrolled_wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background: colors.$light;
  z-index: 1;
  box-shadow: colors.$box-shadow;
}

.placeholder {
  height: 4rem;
}
