.wrapper {
  margin-bottom: 7rem;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(22.3rem, 100%), 1fr));
  column-gap: 1rem;
  row-gap: 4.5rem;
}

.benefit {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.name {
  margin-left: 2rem;
}
