@use 'styles/colors';
@use 'styles/mixins';

.wrapper {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));

  @include mixins.sm {
    padding: 5rem 0;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.right {
  padding: 1.5rem;
}

.intro {
  font-size: 2.25rem;
  color: colors.$pink;
  font-weight: 400;
  margin-bottom: 2rem;
}

.content {
  font-size: 1.87rem;
}

.form_heading {
  margin-bottom: 2rem;
}

.label {
  position: relative;
}

.input {
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 12px;
  border: 1px solid colors.$input_border;
  box-shadow: colors.$box_shadow;
  color: colors.$purple;
  margin-bottom: 1.7rem;

  &::placeholder {
    opacity: 1;
  }

  &:hover {
    box-shadow: colors.$input_hover_box_shadow;
  }

  &:focus-visible {
    outline: none;
    border-color: colors.$pink;
  }

  &.error {
    border: 2px solid colors.$pink;
  }
}

.error_message {
  position: absolute;
  left: 1rem;
  top: 1.87rem;
  background: colors.$pink;
  color: colors.$light;
  border-radius: 5px;
  padding: 1px 10px;
  font-size: 0.9rem;
}

.select {
  appearance: none;
  background-image: url('/icons/select_chevron.svg');
  background-size: 0.7rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  background-color: colors.$light;
}

.submit {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  text-align: center;
  padding: 0.91rem 1.36rem;
  border-radius: 12px;
  font-size: 1rem;
  color: colors.$light;
  background: colors.$pink;

  &:hover {
    transform: scale(1.07, 1.07);
  }
}
