@use 'styles/mixins';
@use 'styles/colors';
@use 'styles/fonts';

.heading_small {
  text-align: center;
  font-size: 1.22rem;
  margin: 4rem 0 2rem 0;
}

.heading {
  font-family: fonts.$bold;
  text-align: center;
  font-size: 1.56rem;
  line-height: 1.14;
  margin: 0 auto 3rem auto;
  position: relative;
  padding: 0 1.56rem 2rem 1.56rem;

  @include mixins.sm {
    width: 34.4rem;
  }

  @include mixins.md {
    margin: 0 auto 4rem auto;
    font-size: 2rem;
  }

  @include mixins.lg {
    font-size: 2.44rem;
  }

  &:before {
    content: '';
    display: block;
    height: 4px;
    width: 80px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    background: colors.$pink;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  box-shadow: colors.$box_shadow;

  padding: 3rem 1.5rem;

  @include mixins.lg {
    padding: 6rem 1.5rem;
  }
}
