@use 'styles/mixins';
@use 'styles/colors';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  box-shadow: colors.$box_shadow;

  padding: 3rem 1.5rem;

  @include mixins.lg {
    padding: 6rem 1.5rem;
  }
}
