@use 'styles/mixins';
@use 'styles/colors';

.container {
  width: 100%;
  height: 60rem;

  @include mixins.lg {
    height: 75rem;
  }
}

.top_wrapper {
  background: colors.$purple;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom_wrapper {
  height: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image_wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -115%);

  @include mixins.lg {
    transform: translate(-50%, -90%);
  }
}

.image {
  position: relative;
  width: 18rem;
  height: 13.4rem;

  @include mixins.lg {
    height: 20.6rem;
    width: 31.2rem;
  }
}
