@use 'styles/mixins';
@use 'styles/colors';
@use 'styles/fonts';

.wrapper {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
  gap: 1.5rem;
}

.plan {
  padding: 1.5rem 2.25rem 2.5rem;
  border-radius: 1.5rem;
  box-shadow: colors.$box-shadow;
  display: flex;
  flex-direction: column;
  height: fit-content;

  &:last-child {
    background: colors.$pink;
    color: colors.$light;
  }
}

.type {
  font-size: 0.89rem;
  margin-bottom: 3rem;
}

.price {
  margin-bottom: 2rem;
  span {
    font-size: 2rem;
  }
}

.includes {
  margin-bottom: 2rem;
}

.list {
  margin: 0 0 2rem 0.7rem;
}

.item {
  list-style-type: '\2713';
  padding-left: 0.5rem;
}

.sub_heading {
  text-align: center;
  font-family: fonts.$bold;
  font-size: 1.56rem;
  margin-top: 7rem;
}

.icons {
  max-width: 40.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
  gap: 1.5rem;
  margin: 3rem auto 7rem auto;
}

.icon {
  display: flex;
  align-items: center;

  span {
    margin-left: 1rem;
  }

  @include mixins.lg {
    &:not(:last-child) {
      border-right: 1px solid colors.$grey;
    }
  }
}
