@use '/styles/mixins';

.heading {
  text-align: center;
}

.services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 2rem 0;
  gap: 2rem;

  @include mixins.sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixins.md {
    grid-template-columns: repeat(4, 1fr);
  }
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;

  p {
    text-align: center;
    margin: 2rem 0;
  }
}
