@use '/styles/colors';
@use '/styles/mixins';
@use 'styles/fonts';

.heading {
  font-family: fonts.$bold;
  text-align: center;
  font-size: 1.78rem;
  line-height: 1.14;
  margin: 3rem auto;
  position: relative;
  padding: 0 1.56rem 2rem 1.56rem;

  @include mixins.sm {
    width: 34.4rem;
  }

  @include mixins.md {
    font-size: 2.44rem;
  }

  @include mixins.lg {
    font-size: 3.11rem;
  }

  &:before {
    content: '';
    display: block;
    height: 4px;
    width: 80px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    background: colors.$pink;
  }
}

.background {
  width: 100%;

  &.light {
    background: colors.$light;
  }

  &.dark {
    background: colors.$purple;
  }
}

.wrapper {
  display: flex;
  padding: 2rem 0;
  flex-direction: column;

  &.rtl {
    flex-direction: column-reverse;

    @include mixins.sm {
      flex-direction: row;
    }
  }

  @include mixins.sm {
    flex-direction: row;
  }

  @include mixins.lg {
    padding: 6rem 0;
  }
}

.image_wrapper {
  padding: 0 1.53rem;
  width: 100%;
  display: flex;
  align-items: center;

  a {
    display: block;
    width: 100%;
  }

  @include mixins.sm {
    min-height: 22.5rem;
  }

  @include mixins.md {
    width: 50%;
  }
}

.image {
  position: relative;
  width: 100%;
  min-height: 16.5rem;

  @include mixins.sm {
    min-height: 22.5rem;
  }
}

.content_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.56rem;

  @include mixins.md {
    padding: 0 3rem 0 1.56rem;
    width: 50%;
  }
}

.title {
  font-size: 1.56rem;
  margin: 1.5rem 0;

  &.light {
    color: colors.$light;
  }

  @include mixins.sm {
    margin: 0 0 1.5rem 0;
  }
}

.content {
  margin-bottom: 1.5rem;

  &.light {
    color: colors.$light;
  }
}
