$purple: #2f4d2a;
$purple_light: #616d3d;
$light: #ffffff;
$pink: #f37413;
$grey: #ccc;
$grey_dark: #666;
$grey_light: #f2f2f2;
$input_border: #d0d7ed;

$transparent: transparent;

$subnav_item_hover: $grey_light;
$accordion_focus: $grey_light;
$subnav_divider: $grey;

$input_hover_box_shadow: 0 0 0 8px rgba(208, 215, 237, 0.4);
$box-shadow: 0px 32px 64px rgba(75, 75, 113, 0.05), 0px 16px 32px rgba(75, 75, 113, 0.05);
